.full-width-container {
    width: 100%;
    background-color: rgb(18, 36, 55);
}

.container {
    margin: 0 auto; 
    padding: 10px;
    box-sizing: border-box; 
}

.header {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.socialmedia {
    display: flex;
    gap: 10px; 
    align-items: center;
}

.socialmedia p {
    margin: 0; 
}
.header a {
    background-color: transparent; 
    text-decoration: none; 
    color: inherit; 
}
.header a:hover{
    color: goldenrod;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        align-items: center;
    }

    .header > div:first-child,
    .socialmedia p {
        display: none; 
    }

    .socialmedia {
        justify-content: center;
        width: 100%; 
    }
}


